.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.wedding__form-block {
  display: flex;
  flex-direction: column;
  gap: 0;
  border: 1px solid #D0D0D0;
  padding: 4px 24px 18px 24px;
  margin-bottom: 12px;
}

@media screen and (min-width: 750px) {
  .wedding__form-block {
    flex-direction: row;
    gap: 38px;
  }
}

.wedding__form-block-description  {
  flex-grow: 1
}

.wedding__form-block .price {
  margin-bottom: 18px;
}

.wedding__form-end {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}